body{
    background-color: aliceblue;
}
.main-container{
    margin-top:200px;
    margin-left:600px;

    width: 16rem;
    border: 2px solid blueviolet;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(4, 3rem);
    grid-gap: 0;
}
.output{
    margin-bottom: 1px;
    height: 3.5rem;
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 1rem;
}
.btn-style{
   
   align-items: center;
    color: blueviolet;
    font-size: medium;
    padding: 10px;
}
.colspan-2{
    grid-column: span 2;
}

.btn-style:hover{
    color: aliceblue;
    background-color: blueviolet;
    transition: ease-in-out;
    outline: none;
    border: none;

}
