
.main-container{
    
    width:25% ;
    margin: auto;
   
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: rgb(191, 153, 227);
}
.ouput{
/* display: flex;
flex-direction:column ;
justify-content: space-between ; */
background-color: black;
}
.previous-value{
    display: flex;
    align-items: flex-end;
}